<div id="todaysWeather">
<h1>Today's weather in {{name}}:</h1>
        <ul>
            <li>Today's conditions: {{description}}</li>
            <li>The temperature is: {{temp}}&deg;C</li>
            <li>Humidity is at: {{humidity}}&#37;</li>
            <li>The wind-speed is: {{wind}}</li>
            <li>Cloud cover: {{clouds}}&#37;</li>
            <li>Sunrise: {{sunrise}}</li>
            <li>Sunset: {{sunset}}</li>
        </ul>
</div>
<br>
<a class="btn-style" href="/weather">What's the weather?</a>